<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" providerName="MySql.Data.MySqlClient" connectionString="server=186.233.89.23;database=smartcms_casa;user=smartcms_casa;pwd=1q1a1z2w2s2x3e3d3c4r4f4v" />
    <add name="ConnectionString" providerName="MySql.Data.MySqlClient" connectionString="server=186.233.89.23;database=smartcms_casa;user=smartcms_casa;pwd=1q1a1z2w2s2x3e3d3c4r4f4v" />
  </connectionStrings>
</configuration>